{{ field_line }}
{{ field_name }}
{{ field_line }}

.. list-table::
   :widths: 30 50

   * - Type
     - {{ field_type }}
   * - Associated with event type(s)
     - ``FILLMEIN`` 
   * - First supported Suricata release
     - {{ field_first_seen_ver}}
   * - Latest supported Suricata release
     - {{ field_last_seen_ver}}
   * - Date Generated
     - |today|
   
.. meta::
   :keywords: {{ field_type }}

.. include:: {{ field_name }}_content.rst.inc

{% if has_delta %}
.. raw:: html

   <h2>{{ field_name}}_delta</h2>

This counter is also available as ``{{ field_name }}_delta`` which provides an incremental
(delta) value.
{% endif %}